
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


#admin-page {
  padding-top: 0;
}

#nested {
  margin-top:60px;
}

.comment-reply {
  display:none;
}

.product-list {
  font-size:1.2rem;
}

